{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tecnologia y Electronicos, pagina para comprar tecnologia electronica" />
    <meta name="keywords" content="electronica, electrodomesticos, tecnologia, celulares, computadores, notebook, audifonos" />
    <meta name="author" content="Pilar Alvarado" />
    <title>TecnoHouse</title>

    <!-- Favicon -->
    <link href="{% static 'venta/img/favicon.ico'%}" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'venta/lib/slick/slick.css'%}" rel="stylesheet">
    <link href="{% static 'venta/lib/slick/slick-theme.css'%}" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="{% static 'venta/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Top bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-envelope"></i>tecnohouse@soporte.cl
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-phone-alt"></i> +569-123-4567
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar End -->

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="{% url 'home' %}" class="nav-item nav-link active">Inicio</a>
                        <a href="{% url 'productList' %}" class="nav-item nav-link">Productos</a>
                        <a href="{% url 'category' %}" class="nav-item nav-link">Categorias</a>
                        <a href="{% url 'cart' %}" class="nav-item nav-link">Carro</a>
                        <a href="{% url 'checkout' %}" class="nav-item nav-link">Pagos</a>
                        <a href="{% url 'account' %}" class="nav-item nav-link">Mi cuenta</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Más</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'wishlist' %}" class="dropdown-item">Favoritos</a>
                                <a href="{% url 'login' %}" class="dropdown-item">Acceso & Registro</a>
                                <a href="{% url 'contact' %}" class="dropdown-item">Contáctanos</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a href="{% url 'login' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta de usuario</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'login' %}" class="dropdown-item">Acceso</a>
                                <a href="{% url 'login' %}" class="dropdown-item">Registro</a>
                                <a href="{% url 'vista-admin' %}" class="dropdown-item">Administración</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'venta/img/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Buscar">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user">
                        <a href="{% url 'wishlist' %}" class="btn wishlist">
                            <i class="fa fa-heart"></i>
                            <span>(0)</span>
                        </a>
                        <a href="{% url 'cart' %}" class="btn cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>(0)</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- Checkout Start -->
    <div class="checkout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-inner">
                        <div class="billing-address">
                            <h2>Dirección de Envío</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre</label>
                                    <input class="form-control" type="text" placeholder="Nombre">
                                </div>
                                <div class="col-md-6">
                                    <label>Apellido</label>
                                    <input class="form-control" type="text" placeholder="Apellido">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" type="text" placeholder="Email">
                                </div>
                                <div class="col-md-6">
                                    <label>Número celular</label>
                                    <input class="form-control" type="text" placeholder="Número celular">
                                </div>
                                <div class="col-md-12">
                                    <label>Dirección</label>
                                    <input class="form-control" type="text" placeholder="Dirección">
                                </div>
                                <div class="col-md-6">
                                    <label>País</label>
                                    <select class="custom-select">
                                            <option selected>Chile</option>
                                            <option>Argentina</option>
                                            <option>México</option>
                                            <option>Brazil</option>
                                        </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Ciudad</label>
                                    <input class="form-control" type="text" placeholder="Ciudad">
                                </div>
                                <div class="col-md-6">
                                    <label>Región</label>
                                    <input class="form-control" type="text" placeholder="Región">
                                </div>
                                <div class="col-md-6">
                                    <label>Código postal</label>
                                    <input class="form-control" type="text" placeholder="Código postal">
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label" for="newaccount">Crear una cuenta</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="shipto">
                                        <label class="custom-control-label" for="shipto">Enviar a una dirección diferente</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shipping-address">
                            <h2>Dirección de Envío</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre</label>
                                    <input class="form-control" type="text" placeholder="Nombre">
                                </div>
                                <div class="col-md-6">
                                    <label>Apellido</label>
                                    <input class="form-control" type="text" placeholder="Apellido">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" type="text" placeholder="Email">
                                </div>
                                <div class="col-md-6">
                                    <label>Número celular</label>
                                    <input class="form-control" type="text" placeholder="Número celular">
                                </div>
                                <div class="col-md-12">
                                    <label>Dirección</label>
                                    <input class="form-control" type="text" placeholder="Dirección">
                                </div>
                                <div class="col-md-6">
                                    <label>País</label>
                                    <select class="custom-select">
                                            <option selected>Chile</option>
                                            <option>Argentina</option>
                                            <option>México</option>
                                            <option>Brazil</option>
                                        </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Ciudad</label>
                                    <input class="form-control" type="text" placeholder="Ciudad">
                                </div>
                                <div class="col-md-6">
                                    <label>Región</label>
                                    <input class="form-control" type="text" placeholder="Region">
                                </div>
                                <div class="col-md-6">
                                    <label>Código postal</label>
                                    <input class="form-control" type="text" placeholder="Codigo postal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-inner">
                        <div class="checkout-summary">
                            <h1>Boleta</h1>
                            <p>Producto<span>$990</span></p>
                            <p class="sub-total">Sub Total<span>$990</span></p>
                            <p class="ship-cost">Costo<span>$10</span></p>
                            <h2>Total final<span>$1000</span></h2>
                        </div>

                        <div class="checkout-payment">
                            <div class="payment-methods">
                                <h1>Métodos de pago</h1>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                        <label class="custom-control-label" for="payment-1">Paypal</label>
                                    </div>
                                    <div class="payment-content" id="payment-1-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                        <label class="custom-control-label" for="payment-2">F-pay</label>
                                    </div>
                                    <div class="payment-content" id="payment-2-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                        <label class="custom-control-label" for="payment-3">Facturación</label>
                                    </div>
                                    <div class="payment-content" id="payment-3-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                        <label class="custom-control-label" for="payment-4">Web-Pay</label>
                                    </div>
                                    <div class="payment-content" id="payment-4-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                        <label class="custom-control-label" for="payment-5">Débito</label>
                                    </div>
                                    <div class="payment-content" id="payment-5-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-btn">
                                <button>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    <!-- Footer Start -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Contacto</h2>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>Álvarez 2336, Viña del Mar, Chile</p>
                            <p><i class="fa fa-envelope"></i>tecnohouse@soporte.cl</p>
                            <p><i class="fa fa-phone"></i>+569-123-4567</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Síguenos</h2>
                        <div class="contact-info">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Información</h2>
                        <ul>
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Términos & Condiciones</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="payment-method">
                            <h2>Aceptamos: </h2>
                            <img src="{% static 'venta/img/payment-method.png'%}" alt="Payment Method" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>2021 &copy; <a href="">TecnoHouse</a>. Todos los derechos reservados</p>
                </div>

                <div class="col-md-6 template-by">
                    <p>@<a href="">TecnoHouse</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'venta/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'venta/lib/slick/slick.min.js' %}"></script>

    <!-- Javascript -->
    <script src="{% static 'venta/js/main.js' %}"></script>
</body>

</html>